.doelgroepLabel {
  border-bottom: 1px solid;
}

#voorKinderen,
#voorOuders,
#voorLeerkrachten {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.card {
  margin: 50px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.card img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
