body {
  margin-top: 50px;
}

.section-header {
  border-bottom: 3px solid #e7e7e7;
}

#voorKinderen,
#voorOuders,
#voorLeerkrachten {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.card {
  cursor: pointer;
  position: relative;
  width: 250px;
  background-color: white;
  margin: 20px;
  padding: 30px;
  border-radius: 1px;
  box-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.25);

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.reduced {
  max-height: 250px;
  overflow: hidden;
}

.reduced:before {
  -webkit-transition: all 1.8s linear;
  -moz-transition: all 1.8s linear;
  transition: all 1.8s linear;
  content: '';
  left: 0;
  top: 150px;
  width: 100%;
  height: 150px;
  position: absolute;
  background: -webkit-linear-gradient(rgba(255,255,255,0), white);
  background: -o-linear-gradient(rgba(255,255,255,0), white);
  background: linear-gradient(rgba(255,255,255,0), white);

}

.expanded {
  max-height: 1000px;
}

.expanded:before {
  -webkit-transition: all 1.8s linear;
  -moz-transition: all 1.8s linear;
  transition: all 1.8s linear;
  opacity: 0;

}

.eventName {
  margin-top: 8px;
  font-size: 16px;
}

.description {
  margin-top: 6px;
  font-weight: 300;
}
